@use "../utils/helpers" as help;

@mixin line($time: 0.6s, $h: 0.1px, $clr: #000) {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: $h;
    background-color: $clr;
    bottom: -0.35rem;
    left: 0;
    transform: scaleX(0);
    transition: transform $time ease;
    transform-origin: left;
  }

  &:hover {
    &::after {
      transition: transform $time ease;
      transform: scaleX(1);
    }
  }
}
