@use "../../utils/helpers" as help;

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__item {
    @include help.flex();
    padding: 7.6rem 2.1rem 4.1rem ;
    line-height: 175%;
    text-align: center;

    &.contact,
    &.created__by {
      @include help.flex($direction: column);
      gap: 0.1rem;
    }

    &.socials {
      @include help.flex();
      gap: 0.5rem;
    }
  }
}
